body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.container,
.container2 {
  width: 80%; /* Adjust as needed */
  max-width: 800px; /* Adjust as needed */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  margin-top: 20px; /* Adjust as needed */
}

.backButton,
.nextButton {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  width: 50%;
  margin-top: 10px; /* Adjust as needed */
}

.backButton:hover,
.nextButton:hover {
  border-color: black;
  color: black;
}
