body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#006DC6, #003DA6, #01327B);
}

.container{
  width: 80%;
  max-width: 800px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  margin-top: 20px;
}

.backButton,
.nextButton {
  background-color: #234984;
  border: 1px solid #173056;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  width: 25%;
  margin-top: 30px;
}

.backButton:hover,
.nextButton:hover {
  border-color: black;
  color: black;
  background-color: #2ca2a2;
}
.progress-bar-container {
  width: 80%;
  max-width: 800px;
  margin-top: 150px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px 2px;
}

#progress-bar {
  height: 20px;
  background-image: linear-gradient(to left, #50FFB1, #4FB286, #3C896D);
  border-radius: 5px;
  width: 0;
}

